@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

body {
  background-image: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  height: 100vh;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 15px;
}

#mainrow-first-container {
  display: flex;
  margin-top: 100px;
}

#div-one {
  width: 500px;
}

#div-one .heading {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 53px;
  color: hsl(300, 43%, 22%);
  width: 350px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#div-one .description {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 18px;
  width: 450px;
  color: hsl(303, 10%, 53%);
}

#div-two {
  margin-left: 100px;
  padding-top: 40px;
  padding-left: 100px;
}

.rate-box {
  background-color: hsl(300, 24%, 96%);
  padding: 2px;
  margin-bottom: 20px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  border-radius: 8px;
  width: 400px;
}

.rate-box p {
  color: hsl(300, 43%, 22%);
  padding-left: 25px;
}

img {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.rate-box + .two {
  margin-left: 42px;
}

.rate-box + .three {
  margin-left: 84px;
}

#mainrow-second-container {
  margin-top: 50px;
  display: grid;
  width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.content-box {
  width: 310px;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 8px;
}

.content-box p {
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 17px;
  width: 300px;
  line-height: 1.5;
  margin: 0px;
  margin-top: 22px;
}

.profile-divbox img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile-divbox p {
  width: 100px;
  margin-top: 0px;
  padding-left: 15px;
  font-size: 16px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: hsl(300, 24%, 96%);
  line-height: 1.3;
}

.profile-divbox span {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  color: hsl(333, 80%, 67%);
}

.profile-divbox {
  display: flex;
}

.content-box + .box2 {
  position: relative;
  top: 20px;
}

.content-box + .box3 {
  position: relative;
  top: 40px;
}
